@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@100;400;500;600;700&family=Raleway:wght@100;200;400;600&display=swap');

body {
  font-family: Raleway, serif;
  margin: 0;
  font-size: 1.em;
  text-align: center;
  background: #1b1523;
  color: #fff;
}